<div class="row">
  <aside class="side-panel">
    <ul class="filter-options list-group">
      <%= render partial: @dashboard.segments_tabs.tabs, as: :tab %>
    </ul>
  </aside>

  <section class="main-panel">
    <div class="page-header">
      <h1 class="page-title"><%= @dashboard.title %></h1>
    </div>
    <% if @dashboard.personas.empty? %>
      <div class="alert alert-info">
        <%= t('hightower.segments.no_results') %>
      </div>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Status</th>
            <th>Added</th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: 'hightower/segments/persona', collection: @dashboard.personas %>
        </tbody>
      </table>
    <% end %>
  </section>
</div>


