<div class="row">
  <aside class="filter">
    <ul class="list-group">
      <% @filter.segments.each do |segment| %>
        <li class="list-group-item"><%= link_to segment.name, segments_path(current_segment_id: segment.id) %></li>
      <% end %>
    </ul>
  </aside>

  <section class="main">
    <div class="page-header">
      <h1 class="page-title"><%= @filter.current_segment.name %></h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Status</th>
          <th>Added</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'hightower/segments/persona', collection: @filter.current_segment_personas %>
      </tbody>
    </table>
  </section>
</div>