/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="search"],
input[type="text"] {
  width: 100%;
  font-size: $font-size-base;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="search"],
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}

input[type="search"]:focus,
input[type="text"]:focus {
  border: 1px solid #33C3F0;
  outline: 0; 
}
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; 
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }