.navbar {
	height: 69px;
	border-bottom: 1px solid $navbar-border-color;
	background-color: $navbar-bg;
}

.navbar-brand {
	float: left;
}

.navbar-workmark {
	line-height: 68px;
	text-decoration: none;
	font-size: 24px;
	color: $navbar-brand-color;

	&:hover {
		color: $navbar-brand-hover-color;		
		text-decoration: none;
	}
}

.navbar-links {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	@include clearfix;

	> li {
		float: left;
		

		&:hover {
			color: $navbar-link-hover-color;
			text-decoration: underline;				
			background-color: $navbar-link-hover-bg;
		}

		> a {
			color: $navbar-link-color;
			line-height: 68px;
			text-decoration: none;
			display: block;
			padding-left: 20px;
			padding-right: 20px;
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 2px;

			&.active {
				background-color: $navbar-default-link-active-bg;
				color: $navbar-default-link-active-color;
			}
		}
	}
}