.hightower_users_show {
	.filter-options:nth-child(1) {
		margin-top: 114px;
	}	
}

.hightower_users_index {
	.search-users-form {
		margin-top: 114px;
	}

	.search-users-actions {
		margin-top: 10px;
	}
}